h1 {
color: #33AABB;
font-family: fantasy;
font-size: 60px;
border: 2px;
}

h3 {

	color: #33BB55;
	font-family: sans-serif;
	font-style: italic;
}
.employeeCard {

	margin-top: 10px;
}
form p {

	width: 150 px;
	display: inline;
	padding: 32px;
	border: 2px;
	
}
.buttonmargin {

	margin-top: 15px;
}


form input {
    
	display: inline;
}

.Rows {

	/*float:left;*/
	padding: 4px;
}

.table{

	display: inline;

	float:left;
}